/* -------Base Style Settings------- */


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2rem 6rem;
}

a {
    text-decoration: none;
    color: black;
}